extends layout

block content
 div(class="container")
  h1= title
  form(method='get' class="search")
    input(type='text' value=search name='search' class="search")
    input(class="submit" type='submit' value='Wyszukaj' class="search")

  each item in data 
    article
      h1(class='title')=item.title
      p(class='date')=item.created
      p(class="news__p")=item.description